---
import { Image } from 'astro:assets';
import education1 from '@/assets/education/1.webp';
import education2 from '@/assets/education/2.png';
import education3 from '@/assets/education/3.webp';

interface EducationItem {
  title: string;
  description: string;
  image?: ImageMetadata;
  bgClass: string;
  gridClass: string;
}

const items: EducationItem[] = [
  {
    title: 'Учитесь в своём темпе',
    description: 'Короткие уроки без дедлайнов и давления. Учись, когда есть ресурс.',
    image: education1,
    bgClass: 'bg-[linear-gradient(180deg,#FFE699_0%,#FFF5D7_100%)]',
    gridClass: 'md:col-span-3',
  },
  {
    title: 'Практические задания',
    description: 'Простые чек-листы и упражнения для внедрения полезных привычек в жизнь.',
    image: education2,
    bgClass: 'bg-[linear-gradient(180deg,#FFCCFA_0%,#FFE9FD_100%)]',
    gridClass: 'md:col-span-2',
  },
  {
    title: 'Поддержка',
    description: 'Техника помощи при перегрузках и бережное сообщество тех, кто понимает.',
    bgClass: 'bg-[linear-gradient(180deg,#FFCCFA_0%,#FFE9FD_100%)]',
    gridClass: 'md:col-span-2',
  },
  {
    title: 'Персональный план',
    description: 'Индивидуальный график задач, под ваш уровень энергии и цели.',
    image: education3,
    bgClass: 'bg-[linear-gradient(180deg,#B0E8FD_0%,#E4F8FF_100%)]',
    gridClass: 'md:col-span-3',
  },
];
---

<section class="py-10 lg:py-20" id="education">
  <div class="container">
    <h2 class="text-3xl md:text-4xl lg:text-5xl font-semibold mb-6 md:mb-12 md:text-center">Как проходит обучение</h2>
    <div class="grid md:grid-cols-5 gap-8">
      {
        items.map((item, index) => (
          <div class={`${item.bgClass} ${item.gridClass} rounded-2xl relative overflow-hidden flex flex-col h-full gap-2 shadow`}>
            <div class="p-6 md:p-10 space-y-2" class:list={[index === 0 || index === 1 ? 'pb-2' : '']}>
              <h3 class="text-xl md:text-2xl font-semibold relative z-10">{item.title}</h3>
              <p class="text-muted-foreground relative z-10 text-lg md:text-xl" class:list={[index === 3 && 'md:max-w-[310px]']}>
                {item.description}
              </p>
            </div>
            {item.image && (
              <div class="self-center mt-auto -mb-5" class:list={[
                index === 3 && 'hidden md:block absolute -bottom-34 -right-20 max-w-[370px]',
                index === 1 && 'max-w-[150px] sm:max-w-full',
                index === 0 && 'md:scale-140',
              ]}>
                <Image src={item.image} alt={item.title} quality={100} class="object-contain" />
              </div>
            )}
          </div>
        ))
      }
    </div>
  </div>
</section>
