---
import { Image } from 'astro:assets';
import education1 from '@/assets/education/1.png';
import education2 from '@/assets/education/2.png';
import education3 from '@/assets/education/3.png';

interface EducationItem {
  title: string;
  description: string;
  image?: ImageMetadata;
  bgClass: string;
  gridClass: string;
}

const items: EducationItem[] = [
  {
    title: 'Учитесь в своём темпе',
    description: 'Короткие уроки без дедлайнов и давления. Учись, когда есть ресурс.',
    image: education1,
    bgClass: 'bg-[linear-gradient(180deg,#FFE699_0%,#FFF5D7_100%)]',
    gridClass: 'md:col-span-2',
  },
  {
    title: 'Практические задания',
    description: 'Простые чек-листы и упражнения для внедрения полезных привычек в жизнь.',
    image: education2,
    bgClass: 'bg-[linear-gradient(180deg,#FFCCFA_0%,#FFE9FD_100%)]',
    gridClass: 'md:col-span-1',
  },
  {
    title: 'Поддержка',
    description: 'Техника помощи при перегрузках и бережное сообщество тех, кто понимает.',
    bgClass: 'bg-[linear-gradient(180deg,#FFCCFA_0%,#FFE9FD_100%)]',
    gridClass: 'md:col-span-1',
  },
  {
    title: 'Персональный план',
    description: 'Индивидуальный график задач, под ваш уровень энергии и цели.',
    image: education3,
    bgClass: 'bg-[linear-gradient(180deg,#B0E8FD_0%,#E4F8FF_100%)]',
    gridClass: 'md:col-span-2',
  },
];
---

<section class="py-10 lg:py-20" id="education">
  <div class="container">
    <h2 class="text-3xl md:text-4xl lg:text-5xl font-semibold mb-6 md:mb-12 md:text-center ">Как проходит обучение</h2>
    <div class="grid md:grid-cols-3 gap-6">
      {
        items.map((item, index) => (
          <div class={`${item.bgClass} ${item.gridClass} rounded-2xl p-6 relative overflow-hidden flex flex-col h-full gap-2 shadow`}>
            <h3 class="text-xl font-semibold relative z-10">{item.title}</h3>
            <p class="text-muted-foreground relative z-10" class:list={[index === 3 && 'md:max-w-[310px]']}>{item.description}</p>
            {item.image && (
              <div class="self-center mt-auto -mb-10" class:list={[index === 3 && 'hidden md:block absolute bottom-0 right-0 max-w-[200px]']}>
                 <Image src={item.image} alt={item.title} class='object-contain' />
              </div>
            )}
          </div>
        ))
      }
    </div>
  </div>
</section>
